<footer>
  <div class="container">
	<div class="row">
	  <div class="footer-col col-md-4">
		<h3>Location</h3>
		<p>USA<br />
		Sample, 10920293</p>

	  </div>
	  <div class="footer-col col-md-8">
	    <h3>About Geppetto</h3>
		<p>Everyone knows that developing software can be tricky and usually takes longer than expected. Way too many reasons to explain why. So, when you have a team full of people that understand these reasons and have the experience with developing software they come up with&nbsp;Geppetto!&nbsp;It allows you to&nbsp;<em>define requirements, generate code (awesome by the way), improve your relationships with your clients</em>&hellip;&nbsp;and other really cool things&hellip; Basically you start with Geppetto and your products can be as robust and awesome as you are creative!</p>

	  </div>
	</div>
  </div>
  <div class="container">
    <div class="row">
	  <div class="col-lg-12">
	    <p>Copyright &copy; GEPPETTO 2016-2018</p>

	  </div>
	</div>
  </div>
</footer>